  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="back-to-top"><a href="">Back to top</a></div>
          {{!-- <div class="copyright-nav"><p><a href="{{@blog.url}}/events">Events</a> | <a href="{{@blog.url}}/short-courses">Hands-On</a> | <a href="{{@blog.url}}/extended-workshops">Workshops</a> | <a href="{{@blog.url}}/contact">Contact</a></p></div> --}}
        <div class="psi">&Psi;</div>
        <aside class="offsite-links">
          <a class="twitter-link" href="{{! TODO: ADD TWITTER URL HERE }}">Twitter</a> /
          <a class="instagram-link" href="{{! TODO: ADD INSTAGRAM URL HERE }}">Instagram</a> /
          <a class="rss-link" href="{{ @blog.url }}/rss">RSS</a>
        </aside>
      </div>
    </div>
  </div>