<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{@blog.description}}">
  <meta name="author" content="{{@blog.title}}">

  {{! Twitter Card }}
  {{#if post}}
    {{#post}}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="{{! TODO: ADD TWITTER ID HERE }}">
      <meta name="twitter:title" content="{{title}}">
      <meta name="twitter:description" content="{{excerpt}}">
      <meta name="twitter:creator" content="{{author.name}}">
      <meta name="twitter:image:src" content="{{! TODO: ADD GRAVATAR URL HERE }}">

      <meta property="og:type" content="article">
      <meta property="og:title" content="{{@blog.title}}">
      <meta property="og:description" content="{{excerpt}}">
      <meta property="og:image" content="{{! TODO: ADD GRAVATAR URL HERE }}">
      <meta property="og:site_name" content="{{@blog.title}}">
    {{/post}}
  {{else}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="omfgitsasalmon">
    <meta name="twitter:title" content="{{@blog.title}}">
    <meta name="twitter:description" content="{{@blog.description}}">
    <meta name="twitter:creator" content="{{@blog.title}}">
    <meta name="twitter:image:src" content="{{! TODO: ADD GRAVATAR URL HERE }}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{@blog.title}}">
    <meta property="og:description" content="{{@blog.description}}">
    <meta property="og:image" content="{{! TODO: ADD GRAVATAR URL HERE }}">
    <meta property="og:site_name" content="{{@blog.title}}">
  {{/if}}

  {{! Le CSS Reset : first stylesheet in HEAD }}
  <link rel="stylesheet" href="{{asset "css/reset.css"}}" />

  {{! Bootstrap Grid Only }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.css"}}" />

  {{! Le Stylesheets }}
  <link rel="stylesheet" type="text/css" href="{{asset "styl/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "styl/pop-navigation.css"}}" />

  {{! Le Favicon }}
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset "img/favicon.ico"}}" />

  {{! Le IE Shiv }}
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {{#if post}}
    {{#post}}
      <title>{{title}} | {{@blog.title}}</title>
    {{/post}}
    {{else}}
      <title>{{@blog.title}}</title>
  {{/if}}

  {{! Le Modernizr : last, if any, of scripts in HEAD }}
  <script src="{{asset "js/modernizr.js"}}"></script>

  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <div class="wrapper">

  {{! Pop Navigation }}
  <header class="cd-header">
{{!--
    <nav>
      <ul class="cd-secondary-nav">
        <li><a href="#contact">Contact</a></li>
        <li><a href="#location">Location</a></li>
      </ul>
    </nav> <!-- cd-nav -->
--}}
    <a class="cd-primary-nav-trigger" href="#0">
      <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
    </a> <!-- cd-primary-nav-trigger -->
  </header>

  <nav>
    <ul class="cd-primary-nav">

      <li class="cd-label">Discover</li>

      <li><a class="pop-nav-link" href="{{@blog.url}}/visitors-and-events">Free Daily Demonstrations</a></li>
      <li><a class="pop-nav-link" href="{{@blog.url}}/short-courses">Hands-On Two-Hour Short Courses</a></li>

      <li class="cd-label">Explore</li>

      <li><a class="pop-nav-link" href="{{@blog.url}}/gallery">Tax-Free Gallery</a></li>
      <li><a class="pop-nav-link" href="{{@blog.url}}/visitors-and-events">Visitors + Events</a></li>
      <li><a class="pop-nav-link" href="{{@blog.url}}/wine-and-design">Wine + Design</a></li>

      <li class="cd-label">Create</li>

      <li><a class="pop-nav-link" href="{{@blog.url}}/extended-courses">Extended Courses</a></li>

      <li class="cd-label">Engage</li>

      <li><a class="pop-nav-link" href="{{@blog.url}}/extended-courses">News</a></li>
      <li><a class="pop-nav-link" href="{{@blog.url}}/contact">Contact</a></li>

      <li class="cd-label">Connect</li>

      <li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
      <li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
      <li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>

    </ul>
  </nav>

  {{! Desktop Navigation }}
  {{#if post}}
    <nav class="nav fixed">
  {{else}}
    <nav class="nav">
  {{/if}}
      <a style="border:none;" id="logo" href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
      <ul class="nav-primary">
          {{! TODO: Add URLs here }}
          <li><a href="{{@blog.url}}/short-courses">Short Courses</a></li>
          <li><a href="{{@blog.url}}/wine-and-design">Wine + Design</a></li>
          <li><a href="{{@blog.url}}/extended-courses">Extended Courses</a></li>
          <li><a href="{{@blog.url}}/visitors-and-events">Visitors + Events</a></li>
          <li><a href="{{@blog.url}}/commissions">Commissions</a></li>
          <li><a href="{{@blog.url}}">News</a></li>
          <li><a href="{{@blog.url}}/contact">Contact</a></li>
      </ul>
  </nav>

  {{! Everything else gets inserted here }}
  {{{body}}}

  </div> {{! End of wrapper }}

  {{! Scripts : Bentley }}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  {{! ``fittext.js`` may require an undeclared dependency }}
  <script type="text/javascript" src="{{ asset 'js/fittext.js' }}"></script>

  <script type="text/javascript" src="{{ asset 'js/app.js' }}"></script>
  <script type="text/javascript" src="{{ asset 'js/respond.min.js' }}"></script>

  {{! Scripts : Pop Navigation }}
  <script type="text/javascript" src="{{ asset 'js/jquery-2.1.1.js' }}"></script>
  <script type="text/javascript" src="{{ asset 'js/pop-navigation.js' }}"></script>

  {{! Scripts : Pop Navigation }}
  <script type="text/javascript" src="{{ asset 'js/bootstrap.js' }}"></script>

  {{! Google Analytics }}
  <script type="text/javascript">
    var ga_ua = '{{! TODO: ADD GOOGLE ANALYTICS UA HERE }}';

    (function(g,h,o,s,t,z){g.GoogleAnalyticsObject=s;g[s]||(g[s]=
        function(){(g[s].q=g[s].q||[]).push(arguments)});g[s].s=+new Date;
        t=h.createElement(o);z=h.getElementsByTagName(o)[0];
        t.src='//www.google-analytics.com/analytics.js';
        z.parentNode.insertBefore(t,z)}(window,document,'script','ga'));
        ga('create',ga_ua);ga('send','pageview');
  </script>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
  </body>
</html>